.Monitor {
  flex: 1;
  height: 100%;

  display: flex;
  flex: wrap;
  flex-direction: column;
  align-items: center;

  font-family: 'treasure_map_deadhandregular', 'Verdana';
  font-size: 30px;

  .penguin-header {

  }

  .header {
    display: block;
    height: 30%;
    width: 50%;
    background-size: contain;
  }

  &#user_01 {
    background-color: rgba(250,250,250,0);
    .header {
      background: url('../../assets/images/penguin-right.svg') no-repeat center;
    }
  }

  &#user_02 {
    background-color: rgba(250,250,250,0);
    .header {
      background: url('../../assets/images/penguin-left.svg') no-repeat center;
    }
  }

  .pirate-text-box, .top-box {
    background-color: rgba(250,250,250,0);
    border-radius: 20px;
    display: flex;
    flex-direction: column-reverse;
  }

  .pirate-text-box {
    overflow-x: hidden;
    overflow-y: auto;
    width: 70%;
    height: 50%;
    padding: 5%;
  }

  .top-box {
    margin-top: 5%;
    width: 50%;
    height: 10%;
    padding: 3%;
    min-height: 100px;

    textarea {
      font-family: 'Verdana', 'Sans-serif';
      width: 100%;
      height: 100%;
      border-radius: 20px;
      background-color: rgba(240, 240, 240, 1);
      padding: 5%;

      // clear
      border: none;
      overflow: hidden;
      outline: none;
      box-shadow: none;
      resize: none;
    }
  }
  .penguin-header {
    display: flex;
  }
}
