.SpeachBubble {
	position: relative;
	background: #bbaaff;
	border-radius: 20px;
  width: 90%;
  padding: 5%;
  margin: 5% 0;
}

.SpeachBubble.update {
	font-size: 30px;
	line-height: 40px;
	padding: 5px 15px;
	animation: dotAnimation 1s linear infinite alternate;
}

.SpeachBubble.left {
  background: pink;
  left: 0%;
}

.SpeachBubble.left.final {
	width: 80%;
	left: 2%;
}

.SpeachBubble.right {
  background: lightblue;
  left: 0%;
}

.SpeachBubble.right.final {
	width: 80%;
	left: 8%;
}

.SpeachBubble.left.final:after {
  content: '';
	position: absolute;
	left: 2px;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: pink;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
}

.SpeachBubble.right.final:after {
  content: '';
	position: absolute;
	right: 2px;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: lightblue;
	border-right: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-right: -20px;
}
